
body{
  background-color: #FFF;
  margin: 15px;
}

.container{
  margin: 0 auto;
  background: #fff;
  padding: 5px;
  border: 1px solid black;
  // position: absolute;
  width:100%;
  height:500px;
  overflow: hidden;
  position:static;
  cursor: pointer;
}

.blocks{
  background-color: red;
  width: 15px;
  height: 15px;
  position: absolute;
  margin: 15px;
  float: left;
}

#block1{
  left:10%;
}

#block2{
  left:45%;
}

#block3{
  left:80%;
}
#block4{
  top: 30%;
  left:10%;
  clear:left;
}

#block5{
  top: 30%;
  left:45%;
}

#block6{
  top: 30%;
  left:80%;
}

#block7{
  top: 52%;
  left:10%;
  clear:left;
}

#block8{
    top: 52%;
  left:45%;
}

#block9{
    top: 52%;
  left:80%;
}

.visibleClass {
  display: block !important;
}

.middle{
  background-color: gray;
  width: 3px;
  height: 3px;
  position: relative;
  top: 50%;
  left: 50%;
}
