
body{
  background-color: #FFF;
  /*margin: 15px;*/
}

.blocksbig{
  background-color: gray;
  position: absolute;
  float: left;
  width: 12px;
  height: 12px;
  border: 14px solid red;
}

.blocks{
  background-color: gray;
  position: absolute;
  float: left;
  width: 6px;
  height: 6px;
  border: 7px solid red;
}

#block1{
  left:10%;
}

#block2{
  left:45%;
}

#block3{
  left:80%;
}
#block4{
  top: 30%;
  left:10%;
  clear:left;
}

/*#block5{
top: 30%;
left:45%;
}*/

#block6{
  top: 30%;
  left:80%;
}

#block7{
  top: 52%;
  left:10%;
  clear:left;
}

#block8{
  top: 52%;
  left:45%;
}

#block9{
  top: 52%;
  left:80%;
}

#middle_click{
  background-color: black;
  width: 6px;
  height: 6px;
  position: fixed;;
  top: 30%;
  left:45%;
  border: 7px solid white;
}

#middle_click2{
  background-color: black;
  width: 12px;
  height: 12px;
  position: fixed;;
  top: 30%;
  left:45%;
  border: 14px solid white;
}
